.card-section {
    margin: 0 20px 20px 20px;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-user-img {
    width: 100px;
    height: 100px;
    /*background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…0yNSA3IEE0IDQgMCAwIDEgMjUgMTUgQTQgNCAwIDAgMSAyNSA3Ij48L3BhdGg+Cjwvc3ZnPg==) no-repeat center hsl(0, 0%, 80%);*/
}

.user-img {
    width: 100%;
}