.App {
  background-color: #edeff2;
  font-family: 'Raleway', sans-serif;
  font-size: calc(.5rem + .9vw);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: auto;
  min-width: 360px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button, select, input {
  font-family: 'Raleway', sans-serif;
  font-size: calc(.5rem + .9vw);
}

select {
  text-transform: none;
}

input[type="password"]:focus,
button[type="submit"]:focus,
button[type="button"]:focus {

}

.error-bar {
  position: relative;
  top: 80px;
  height: 2em;
  color: #D8000C;
  background-color: #FFBABA;
  /*margin:10px 22px;*/
  font-size: 1em;
  vertical-align:middle;
  line-height: 2em;

}

.error-bar::before {
  padding: 1.5em;
  content: "x";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
