.App {
  background-color: #edeff2;
  font-family: 'Raleway', sans-serif;
  font-size: calc(.5rem + .9vw);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 1;
}
.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 50vh 0.2rem;
  background: #ce1277;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*button, select, input {*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-size: calc(.5rem + .9vw);*/
/*}*/

/*select {*/
  /*text-transform: none;*/
/*}*/

/*input[type="password"]:focus,*/
/*button[type="submit"]:focus,*/
/*button[type="button"]:focus {*/

/*}*/

.error-bar {
  position: relative;
  top: 80px;
  height: 2em;
  color: #D8000C;
  background-color: #FFBABA;
  /*margin:10px 22px;*/
  font-size: 1em;
  vertical-align:middle;
  line-height: 2em;
}

.error-bar::before {
  padding: 1.5em;
  content: "x";
}

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
