.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: black;
    color: white;
}

.header-bar nav {
    margin-right: 1.7rem;

}

.header-link {
    color: #ffffff;
    font-size: calc(1.2rem + .9vw);
    text-decoration: none;
    margin-left: 1.7rem;
}

.header-link span {
    color: #ce1277;
}

.header-link:active, a:hover, a:visited {
    color: #ffffff;
    text-decoration: none;
}



#menuButton {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#menuButton:hover {
    /*background-color: #96D9FF;*/
    cursor: pointer;
    /*border-color: #003557;*/
    transform: scale(1.2, 1.2);
}

#menuButton:active {
    border-color: #FFF;
    /*background-color: #FFF;*/
}

.icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: white;

}

.icon-bar + .icon-bar {
    margin-top: 4px;
}