.my-profile-section {
    margin: 1em;
}

.my-profile-account {
    background: #ffffff;
    padding: 1em;
    margin-top: 1em;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.my-profile-account h2 {
    border-bottom: 1px solid #959595;
}


.my-profile-account-info {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;
    /*-ms-flex-pack: space-evenly;*/
    justify-content: space-evenly;
    padding-left: 1em;
    /*-ms-flex-align: end;*/
    /*align-items: flex-end;*/
    /*flex-grow: 2;*/
    flex-basis: 55%;
}

.my-profile-account-info > * {
    margin-top: 1%;
    margin-bottom: 2%;
}

.my-profile-edit-btn-section {
    flex-basis: 20%;
}

.profile-edit-btn {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #ce1277;
    border: 1px solid #ce1277;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    outline: 0;

}

.my-profile-services-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    text-align: center;

}

.my-profile-services-section ul {
    padding-right: 10px;
    padding-left: 10px;


}

.my-profile-services-section li,
.my-profile-services-section button {
    list-style: none;
    line-height: 1.3em;

}

.my-profile-services h2 {
    border-bottom: 1px solid #959595;
}

.my-profile-add-services-link {
    font-size: 1em;
    color: #ce1277;
    text-decoration: none;
}

.my-profile-add-services-link:visited,
.my-profile-add-services-link:active {
    color: #ce1277;
}

.my-profile-add-services-link:hover {
    text-decoration: underline;
}

.my-profile-add-services-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /*flex-direction: ;*/
}

.my-profile-add-services-form-field {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: calc(.7rem + .9vw);
}

.my-profile-add-services-form-field input {
    font-size: calc(.5rem + .9vw);
}

.my-profile-service-label {
    flex-basis: 45%;
    font-size: calc(.7rem + .9vw);
}

.my-profile-price-label {
    flex-basis: 15%;
    font-size: calc(.7rem + .9vw);
}

#my-profile-price-input {
    font-size: calc(.5rem + .9vw);
    text-align: right;

}

.my-profile-destroy-service {
    /*margin: 0;*/
    display: list-item;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    /*color: inherit;*/
    -webkit-appearance: none;
    /*-ms-appearance: none;*/
    /*-o-appearance: none;*/
    -moz-appearance: none;
    /*appearance: none;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 10px;*/
    /*bottom: 0;*/
    /*width: 40px;*/
    /*height: 40px;*/
    margin: auto 0;
    /*font-size: 22px;*/
    color: #d95693;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.my-profile-destroy-service:hover {
    text-shadow: 0 0 1px #000, 0 0 8px rgba(206, 18, 119, 0.79);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.my-profile-destroy-service::after {
    content: "✖";

}