#flyoutMenu {
    width: 100%;
    height: 100vh;
    color: #FFF;
    background-color: #000;;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    font-size: 1.2rem;
}

#flyoutMenu.hide {
    transform: translate3d(100%, 0, 0);
}

#flyoutMenu.show {
    transform: translate3d(50%, 0, 0);
    overflow: hidden;
}

#flyoutMenu a {
    display: block;
    color: #FFF;
    margin-left: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    border-bottom: 2px solid black;

}

#flyoutMenu a:hover,
#flyoutMenu a:focus {
    color: #ce1277;
    border-bottom: 2px solid #ce1277;
}

.close-menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 15px;
    border: 0;
    background: none;
    font-size: 1.3rem;
    vertical-align: baseline;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #ce1277;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.close-menu-btn:hover,
.close-menu-btn:focus {
    text-shadow: 0 0 1px #c3baba, 0 0 8px rgba(239, 18, 143, 0.79);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.close-menu-btn::after {
    content: "✖";
}

@media only screen and (min-width: 640px) {
    #flyoutMenu.show {
        transform: translate3d(70%, 0, 0);
    }
}