fieldset, legend {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    color: transparent;
    line-height: 0;
}

label,
.form-btn,
.account-message,
.account-message a,
.demo-btn {
    font-size: calc(.5rem + .7vw);
}

label,
.form-btn,
.account-message a,
.demo-btn {
    letter-spacing: 2px;
    text-transform: uppercase;
}

input, select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    line-height: 1.22rem;
    font-size: calc(.5rem + .9vw);
    margin-top: 0.3rem;
    padding: 0.8em;
    outline: none;

}

input, select, button {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

input:hover, input:focus,
select:hover, select:focus {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-color: #71676c;
}

select:hover, select:focus,
button:hover, button:focus {
    cursor: pointer;
}

input[type="radio"] {
    margin: 5px 0 0 0;
    box-shadow: inset 0 0 5px  rgb(255, 255, 255);
}

input[type="radio"]:hover,
input[type="radio"]:focus {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
    outline: #d95693 solid 2px;
    cursor: pointer;
}

.form-btn {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #ce1277;
    border: 1px solid #ce1277;
    margin-top: 1em;
    padding: 2.5%;
    width: 100%;
    outline: 0;
}

.form-btn:hover,
.form-btn:focus,
.form-btn:active {
    color: #ce1277;
    background: #ffffff;
    border: 1px solid #ce1277;
}

.demo-btn {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    border: none;
    background: none;
    color: #ce1277;
    letter-spacing: normal;
    padding: 0;
    margin: 0 5px 0;
}

.demo-btn:hover,
.demo-btn:focus,
.account-message a:hover,
.account-message a:focus {
    color: #8d0f4c;
    text-decoration: underline;
}

#roleUserField, #roleProField {
    width: 50%;
    /*display: flex;*/
    /*flex-direction: row;*/
    display: inline-block;
    /*padding-left: 25%;*/
    margin-top: 1.5rem;
    border: none;
}

#roleUserField label,
#roleProField label {
    display: block;
    text-align: center;
    /*padding-left: 25%;*/
    /*padding-right: 15%;*/
}

#roleProField {
    /*padding-left: 15%;*/
    /*padding-right: 25%;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {top: 0px;}
    to {top: 200px; background-color: blue;}
}

@keyframes example {

    /*100% {*/
        /*top: 80px;*/
        /*left: 200px;*/
    /*}*/
    from {top: -500px;}
    to {top: 80px;}
}

.signin-form-wrapper {
    position: relative;
    top: 80px;
    max-width: 500px;
    padding: 1em;
    margin: 2em auto;
    animation: fadein 1s;
    /*-webkit-animation-name: example;  !* Safari 4.0 - 8.0 *!*/
    /*-webkit-animation-duration: 0.5s;  !* Safari 4.0 - 8.0 *!*/
    /*-webkit-animation-fill-mode: forwards; !* Safari 4.0 - 8.0 *!*/
    /*animation-name: example;*/
    /*animation-duration:0.5s;*/
    /*animation-fill-mode: forwards;*/
}

.signin-form {

    background-color: #ffffff;
    padding: 20px;
}

.signin-form-header {
    text-align: center;
    text-transform: uppercase;
    font-size: calc(1rem + .9vw);
}

.form-field {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.form-field > [form=radio] {
    color: #ce1277;
    display: inline;
}

.form-field-signup-btns {
    display: flex;

}

.form-field-signup-btns button {
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.form-field-signup-btns button:last-child {
    background: none;
    color: #ce1277;
}

.form-field-signup-btns button:last-child:hover,
.form-field-signup-btns button:last-child:focus {
    background: #ce1277;
    color: #FFFFFF;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.account-message {
    /*margin: 20px auto 0 auto;*/
    margin: 0;
    padding-bottom: 2.5%;
    text-align: center;
}

.account-message a {
    display: inline-block;
    color: #ce1277;
    text-decoration: none;
    letter-spacing: normal;
    margin-left: 5px;
}

.form-error {
    position: absolute;
    /*bottom: -calc(.5rem + .9vw);*/
    color: #D50000;
    /*text-transform: uppercase;*/
    font-size: calc(.5rem + .9vw);
}

.error-border {
    border: 1px solid red;
}

.placeholder-class {
    font-family: 'Raleway', sans-serif;
    font-size: calc(.5rem + .9vw);
}